ul.nav li ul {
    @extend .nav;
}

/* First level of nav */
.docs-sidenav {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* All levels of nav */
.docs-sidebar .nav > li > a,
.docs-sidebar .nav > li > span > a {
  display: block;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 500;
  color: #767676;
}
.docs-sidebar .nav > li > a:hover,
.docs-sidebar .nav > li > a:focus,
.docs-sidebar .nav > li > span > a:hover,
.docs-sidebar .nav > li > span > a:focus {
  padding-left: 19px;
  color: #563d7c;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #563d7c;
}
.docs-sidebar .nav > .active > a,
.docs-sidebar .nav > .active:hover > a,
.docs-sidebar .nav > .active:focus > a,
.docs-sidebar .nav > .active > span > a,
.docs-sidebar .nav > .active:hover > span > a,
.docs-sidebar .nav > .active:focus > span > a {
  padding-left: 18px;
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-left: 2px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.docs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  padding-bottom: 10px;
}
.docs-sidebar .nav .nav > li > a,
.docs-sidebar .nav .nav > li > span > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: normal;
}
.docs-sidebar .nav .nav > li > a:hover,
.docs-sidebar .nav .nav > li > a:focus,
.docs-sidebar .nav .nav > li > span > a:hover,
.docs-sidebar .nav .nav > li > span > a:focus {
  padding-left: 29px;
}
.docs-sidebar .nav .nav > .active > a,
.docs-sidebar .nav .nav > .active:hover > a,
.docs-sidebar .nav .nav > .active:focus > a,
.docs-sidebar .nav .nav > .active > span > a,
.docs-sidebar .nav .nav > .active:hover > span > a,
.docs-sidebar .nav .nav > .active:focus > span > a {
  padding-left: 28px;
  font-weight: 500;
}

.docs-sidebar .nav li.active ul {
  display: block;
}

