/*
 * Fine-tune navigation elements.
 *
 * There are mainly two navigation elements: the left sidebar and the page TOC.
 *
 * They are both based on Bootstrap's own documentation style. The style is
 * defined in the .toc classes, and then extends the panel nav styles
 * (.docs-sidenav and children) and the page TOC (#markdown-toc and children)
 */

/**
 * Shared classes
 */

ul.nav li ul {
    @extend .nav;
}

.toc-link {
  display: block;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 500;
  color: #767676;
}

.toc-link-hover {
  padding-left: 19px;
  color: #563d7c;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #563d7c;
}

.toc-link-active {
  padding-left: 18px;
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-left: 2px solid #563d7c;
}

.toc-level2-link {
  @extend .toc-link;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: normal;
}

.toc-level2-link-hover {
  padding-left: 29px;
}





/**
 * Sidebar navigation
 */

/* First level of nav */
.docs-sidenav {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* All levels of nav */
.docs-sidebar .nav > li > a,
.docs-sidebar .nav > li > span > a {
    @extend .toc-link;
}
.docs-sidebar .nav > li > a:hover,
.docs-sidebar .nav > li > a:focus,
.docs-sidebar .nav > li > span > a:hover,
.docs-sidebar .nav > li > span > a:focus {
    @extend .toc-link-hover;
}
.docs-sidebar .nav > .active > a,
.docs-sidebar .nav > .active:hover > a,
.docs-sidebar .nav > .active:focus > a,
.docs-sidebar .nav > .active > span > a,
.docs-sidebar .nav > .active:hover > span > a,
.docs-sidebar .nav > .active:focus > span > a {
  @extend .toc-link-active;
}

/* Nav: second level (shown on .active) */
.docs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  padding-bottom: 10px;
}
.docs-sidebar .nav .nav > li > a,
.docs-sidebar .nav .nav > li > span > a {
  @extend .toc-level2-link;
}
.docs-sidebar .nav .nav > li > a:hover,
.docs-sidebar .nav .nav > li > a:focus,
.docs-sidebar .nav .nav > li > span > a:hover,
.docs-sidebar .nav .nav > li > span > a:focus {
  @extend .toc-level2-link-hover;
}
.docs-sidebar .nav .nav > .active > a,
.docs-sidebar .nav .nav > .active:hover > a,
.docs-sidebar .nav .nav > .active:focus > a,
.docs-sidebar .nav .nav > .active > span > a,
.docs-sidebar .nav .nav > .active:hover > span > a,
.docs-sidebar .nav .nav > .active:focus > span > a {
  padding-left: 28px;
  font-weight: 500;
}

.docs-sidebar .nav li.active ul {
  display: block;
}

nav.docs-sidebar.affix {
  top: 20px;
  width: 23%;
}





/**
 * Page TOC
 */

#markdown-toc > li > a {
    margin-left: 19px;
    @extend .toc-link;
}
#markdown-toc > li > a:hover,
#markdown-toc > li > a:focus {
    @extend .toc-link-hover;
}
#markdown-toc > li > ul > li > a {
    @extend .toc-level2-link;
}
#markdown-toc > li > ul > li > a:hover,
#markdown-toc > li > ul > li > a:focus {
    @extend .toc-level2-link-hover;
}

#markdown-toc {
    @extend .navbar-right;
    @extend .nav;
    margin-left: 19px;
    margin-right: 5px;
    margin-bottom: 1em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    width: 40%;
    background: #f5f5f5;
}

#markdown-toc > li > ul {
    padding-left: 19px;
    @extend .nav;
}

