@charset "utf-8";
@import "normalize";
@import "syntax";


img {
    padding: 20px;
}
.advanced_description {
    margin-left: 1em;
}

.advanced {
    margin: 20px;
    padding: 20px;
    background-color: #EFD7FF;
    margin-top: 40px;

    h1, h2 {
        margin-top: 0px;
    }
}

@import "bootstrap";
@import "callouts";
