<% wrap_layout :layout do %>
    <!-- top navbar -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/documentation/index.html">Documentation</a></li>
                    <li><a href="/tutorials/index.html">Tutorials</a></li>
                    <li class="active"><a href="/about.html">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <%= yield %>
<% end %>
