---
layout: documentation
title: Installation
sort_info: 5
---

# Rock Installation
{:.no_toc}

<div class="alert alert-warning" role="alert">
If you are already familiar with Rock, note that this guide uses the buildconf
repository on GitHub
[`rock-gazebo/buildconf`](https://github.com/rock-gazebo/buildconf) instead of
the default one at
[`rock-core/buildconf`](https://github.com/rock-core/buildconf) to pull
gazebo-specific packages and configuration. The
[installation guide](basics/installation.html) already reflects this.
</div>

- TOC
{:toc}

## Supported Operating Systems

Rock's primary platform is Ubuntu. The only guarantee made by the Rock team is
that Rock's current release and master branches work on the current Ubuntu LTS
version and often works on the latest Ubuntu version.

Rock has no option to install from binary, the only currently supported method
of install is from source.

Other linux-based platforms (Debian, Arch, …) are known to work, but since they
don't see regular use, installation may not be as streamlined as on Ubuntu.
MacOS X also has seen some Rock usage, but is seldom used and therefore can
cause problems. Windows has seen some preliminary usage.

## Installation {#install}

The code that is needed to follow this guide is not yet part of a core release.

 1. [Install Gazebo](http://gazebosim.org). We support Gazebo 7 or later. The version shipped
    With Ubuntu 18.04 LTS is our primary version.  

 1. Install Ruby and verify that the version matches (2.4 or later, we recommend 2.5 as shipped
    with Ubuntu 18.04)

    ~~~
    sudo apt-get install ruby ruby-dev wget build-essential
    ruby --version
    ~~~

 2. Create and "cd" into the directory in which you want to work. This directory will
    contain both the toolchain (that we will install in the next steps), as well as your
    own code. This is called a _workspace_.

    ~~~
    mkdir dev
    cd dev
    ~~~

 3. Download autoproj's bootstrap script

    ~~~
    wget https://raw.githubusercontent.com/rock-core/autoproj/master/bin/autoproj_bootstrap
    ~~~

 4. Bootstrap your installation. This installs autoproj and checks out
    the main build configuration, but does not check out packages. Because
    [this guide relies on code not yet in rock-core itself](#not_mainline), one must use the master flavor
    of Rock to go through this documentation. Select the defaults for all
    the proposed configuration options.

    ~~~
    ruby autoproj_bootstrap \
        git https://github.com/rock-gazebo/buildconf
    ~~~

 5. Update and build the installation's default packages.Select the defaults for all
    the proposed configuration options.

    ~~~
    source env.sh
    aup --all -k
    amake --all -k
    ~~~


You **must** remember to source the generated env.sh script at the end of the
amake command !!! You must also do in new terminals before you can interact with
the Rock installation
{: .callout .callout-warning}

**Next**: an overview of [how to interact day-to-day with the Rock
workspace](day_to_day.html). Alternatively, if you already know about it, you
can go straight to [setting up Syskit and Gazebo](getting_started.html)
{: .next-page}
