---
layout: home
---

<h1>Welcome to ROCK</h1>
<p>Rock is a software framework for the development of robotic systems. Rock provides all the tools required to set up and run high-performance and reliable robotic systems for wide variety of applications in research and industry. It contains a rich collection of ready to use drivers and modules for use in your own system, and can easily be extended by adding new components.</p>
<hr>

<h2>Join the force!</h2><a name="join_the_force"></a>
<p>Bla bla bla.</p>
<h2>Getting to know Syskit</h2><a name="getting_to_know_syskit"></a>
<p>Bla bla bla.</p>
<h2>New Website</h2><a name="new_website"></a>
<p>Welcome to rock's new website.</p>
